<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customer List</title>
</head>
<body>

	<h2>Customer List</h2>

	<a href="/customers/new">Add New Customer</a>

	<br />
	<br />

	<form th:action="@{/customers/search}" method="get">
		<input type="text" name="email" placeholder="Enter Email" />
		<button type="submit">Search</button>
	</form>
	<div th:if="${errorMessage}">
		<p th:text="${errorMessage}"></p>
	</div>
	<br />

	<table border="1">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<!-- 			<th>Mobile</th> -->
			<th>Action</th>
		</tr>

		<tr th:each="c : ${customers}">
			<td th:text="${c.customerId}"></td>
			<td th:text="${c.name}"></td>
			<td th:text="${c.email}"></td>
			<!-- 			<td th:text="${c.mobileNumber}"></td> -->
			<td><a th:href="@{'/customers/' + ${c.customerId}}">View</a></td>
		</tr>

	</table>

</body>
</html>