<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customer Details</title>
</head>
<body>

	<h2>Customer Details</h2>

	<p>
		<b>ID:</b> <span th:text="${customer.customerId}"></span>
	</p>
	<p>
		<b>Name:</b> <span th:text="${customer.name}"></span>
	</p>
	<p>
		<b>Email:</b> <span th:text="${customer.email}"></span>
	</p>
	<p>
		<b>Mobile:</b> <span th:text="${customer.mobileNumber}"></span>
	</p>

	<br />

	<a href="/customers">Back to List</a>

</body>
</html>